:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --accent-color-button: #188ce8;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --color-with-transparency: rgba(255, 255, 255, 0.6);
  --color-section-background: #2f303a;
  --color-section-bg: #f5f4fa;
  --color-line-header: #ececec;
  --color-line-card: #eeeeee;
  --color-icon: #afb1b8;
  --bg-element-specialty: rgba(47, 48, 58, 0.8);
  --bg-cardHover-portfolio: rgba(33, 150, 243, 0.9);
  --bg-modal: rgba(0, 0, 0, 0.2);
  --hero-gradient: rgba(47, 48, 58, 0.4);
  --bg-social-footer: rgba(255, 255, 255, 0.1);
  --color-icon-modal: rgba(0, 0, 0, 0.1);
  --color-border-subscription: rgba(255, 255, 255, 0.3);
  --color-border-form: rgba(33, 33, 33, 0.2);
  --color-textarea-placeholder: rgba(117, 117, 117, 0.5);
  --border-social: rgba(33, 33, 33, 0.2);

  --primary-card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --primary-shadow-hover: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --card-shadov-portfolio: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  --shadow-btn-footer: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
